<a href="https://colab.research.google.com/github/naidu199/DataScience/blob/master/Advanced_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

In [ ]:
np.__version__

'1.26.4'

In [ ]:
arr=np.array([1,2,3,4,4,45,])

In [ ]:
arr*3

array([  3,   6,   9,  12,  12, 135])

In [ ]:
[1,2,3,4,4,45,]*3

[1, 2, 3, 4, 4, 45, 1, 2, 3, 4, 4, 45, 1, 2, 3, 4, 4, 45]

In [ ]:
np.random.randint(1,9,(6,7))

array([[4, 3, 6, 5, 5, 7, 4],
       [3, 8, 5, 6, 7, 8, 4],
       [7, 2, 2, 7, 7, 4, 4],
       [5, 3, 1, 5, 4, 6, 1],
       [1, 8, 2, 8, 8, 8, 6],
       [5, 4, 7, 8, 7, 1, 3]])

In [ ]:
np.random.seed(0)
np.random.randint(1,9,(3,4))

array([[5, 8, 6, 1],
       [4, 4, 4, 8],
       [2, 4, 6, 3]])

In [3]:
import scipy as s # used to perform scientific calculator type

In [ ]:
s.__version__

'1.13.1'

In [4]:
import pandas as pd

In [ ]:
pd.__version__

'2.2.2'

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/AnalyticsVidhya/DataSets/big_mart_sales.csv")

#use skiprows parameter to skip some rows

In [ ]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
df.shape

(8523, 12)

In [ ]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [ ]:
#reding data from multiple directories
#use glob library to read multiple files at once

In [ ]:
import glob

In [ ]:
for dic in glob.glob("/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/*"):
  print(dic)

/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/1985
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/1997
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/2007
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/2004
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/1998
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/1999
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/2002
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/2009
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/1987

In [ ]:
for dic in glob.glob("/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/*"):
  for files in glob.glob(dic+"/*"):
    print(files)

/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/1985/1985.csv
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/1997/1997.csv
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/2007/2007.csv
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/2004/2004.csv
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/1998/1998.csv
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/1999/1999.csv
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/2002/2002.csv
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/2009/2009.csv
/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/1987/1987.csv

In [ ]:
#adding all the files

In [ ]:
dataFrame=[]
for dic in glob.glob("/content/drive/MyDrive/AnalyticsVidhya/DataSets/multi-directory/*"):
  for files in glob.glob(dic+"/*"):
    dataFrame.append(pd.read_csv(files))

In [ ]:
final_data=pd.concat(dataFrame,axis=0)

In [ ]:
final_data.head()

,Unnamed: 0,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
1,18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
2,21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
3,23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
4,29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

In [ ]:
final_data.shape

(8523, 13)

In [ ]:
final_data.describe

<bound method NDFrame.describe of      Unnamed: 0 Item_Identifier  Item_Weight Item_Fat_Content  \
0             7           FDP10          NaN          Low Fat
1            18           DRI11          NaN          Low Fat
2            21           FDW12          NaN          Regular
3            23           FDC37          NaN          Low Fat
4            29           FDC14          NaN          Regular
..          ...             ...          ...              ...
927        8462           FDQ31        5.785          Regular
928        8466           FDJ32       10.695          Low Fat
929        8484           DRJ49        6.865          Low Fat
930        8512           FDR26       20.700          Low Fat
931        8518           FDF22        6.865          Low Fat

     Item_Visibility              Item_Type  Item_MRP Outlet_Identifier  \
0           0.127470            Snack Foods  107.7622            OUT027
1           0.034238            Hard Drinks  113.2834            OUT027
2           0.035400           Baking Goods  144.5444            OUT027
3           0.057557           Baking Goods  107.6938            OUT019
4           0.072222                 Canned   43.6454            OUT019
..               ...                    ...       ...               ...
927         0.053802  Fruits and Vegetables   85.9856            OUT013
928         0.057744  Fruits and Vegetables   61.2536            OUT013
929         0.000000            Soft Drinks  129.9652            OUT013
930         0.042801                  Dairy  178.3028            OUT013
931         0.056783            Snack Foods  214.5218            OUT013

     Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                         1985      Medium               Tier 3
1                         1985      Medium               Tier 3
2                         1985      Medium               Tier 3
3                         1985       Small               Tier 1
4                         1985       Small               Tier 1
..                         ...         ...                  ...
927                       1987        High               Tier 3
928                       1987        High               Tier 3
929                       1987        High               Tier 3
930                       1987        High               Tier 3
931                       1987        High               Tier 3

           Outlet_Type  Item_Outlet_Sales
0    Supermarket Type3          4022.7636
1    Supermarket Type3          2303.6680
2    Supermarket Type3          4064.0432
3        Grocery Store           214.3876
4        Grocery Store           125.8362
..                 ...                ...
927  Supermarket Type1          1494.0552
928  Supermarket Type1           673.7896
929  Supermarket Type1          2324.9736
930  Supermarket Type1          2479.4392
931  Supermarket Type1          2778.3834

[8523 rows x 13 columns]>

In [ ]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8523 entries, 0 to 931
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 8523 non-null   int64
 1   Item_Identifier            8523 non-null   object
 2   Item_Weight                7060 non-null   float64
 3   Item_Fat_Content           8523 non-null   object
 4   Item_Visibility            8523 non-null   float64
 5   Item_Type                  8523 non-null   object
 6   Item_MRP                   8523 non-null   float64
 7   Outlet_Identifier          8523 non-null   object
 8   Outlet_Establishment_Year  8523 non-null   int64
 9   Outlet_Size                6113 non-null   object
 10  Outlet_Location_Type       8523 non-null   object
 11  Outlet_Type                8523 non-null   object
 12  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(2), object(7)
memory usage: 932.2+ KB

In [ ]:
final_data.to_csv("/content/drive/MyDrive/AnalyticsVidhya/DataSets/Merged_DataSet.csv",index=False)

In [ ]:
# delimiter case
# reading only n-rows from dataset nrows=n while reading csv

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/AnalyticsVidhya/DataSets/big_mart_sales_delimiter.csv",delimiter='\t')

In [ ]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
data=pd.read_csv("/content/drive/MyDrive/AnalyticsVidhya/DataSets/churn_prediction.csv")

In [7]:
data.info

<bound method DataFrame.info of        customer_id  vintage  age  gender  dependents     occupation    city  \
0                1     2101   66    Male         0.0  self_employed   187.0
1                2     2348   35    Male         0.0  self_employed     NaN
2                4     2194   31    Male         0.0       salaried   146.0
3                5     2329   90     NaN         NaN  self_employed  1020.0
4                6     1579   42    Male         2.0  self_employed  1494.0
...            ...      ...  ...     ...         ...            ...     ...
28377        30297     2325   10  Female         0.0        student  1020.0
28378        30298     1537   34  Female         0.0  self_employed  1046.0
28379        30299     2376   47    Male         0.0       salaried  1096.0
28380        30300     1745   50    Male         3.0  self_employed  1219.0
28381        30301     1175   18    Male         0.0        student  1232.0

       customer_nw_category  branch_code  current_balance  ...  \
0                         2          755          1458.71  ...
1                         2         3214          5390.37  ...
2                         2           41          3913.16  ...
3                         2          582          2291.91  ...
4                         3          388           927.72  ...
...                     ...          ...              ...  ...
28377                     2         1207          1076.43  ...
28378                     2          223          3844.10  ...
28379                     2          588         65511.97  ...
28380                     3          274          1625.55  ...
28381                     2          474          2107.05  ...

       average_monthly_balance_prevQ  average_monthly_balance_prevQ2  \
0                            1458.71                         1449.07
1                            7799.26                        12419.41
2                            4910.17                         2815.94
3                            2084.54                         1006.54
4                            1643.31                         1871.12
...                              ...                             ...
28377                        2282.19                         2787.70
28378                        3668.83                         3865.55
28379                       53444.81                        21925.81
28380                        1683.20                         1857.42
28381                        3213.44                         4447.45

       current_month_credit  previous_month_credit  current_month_debit  \
0                      0.20                   0.20                 0.20
1                      0.56                   0.56              5486.27
2                      0.61                   0.61              6046.73
3                      0.47                   0.47                 0.47
4                      0.33                 714.61               588.62
...                     ...                    ...                  ...
28377                  0.30                   0.30                 0.30
28378                  1.71                   2.29               901.00
28379               4666.84                3883.06               168.23
28380                  0.20                   0.20                 0.20
28381                  0.11                   7.44               714.40

       previous_month_debit  current_month_balance  previous_month_balance  \
0                      0.20                1458.71                 1458.71
1                    100.56                6496.78                 8787.61
2                    259.23                5006.28                 5070.14
3                   2143.33                2291.91                 1669.79
4                   1538.06                1157.15                 1677.16
...                     ...                    ...                     ...
28377                  0.30                1076.43                 1076.43
28378               1014.07                3738.54                 3690.32
28379                 71.80               61078.50                57564.24
28380                  0.20                1625.55                 1625.55
28381               1094.09                2402.62                 3260.58

       churn  last_transaction
0          0        2019-05-21
1          0        2019-11-01
2          0               NaT
3          1        2019-08-06
4          1        2019-11-03
...      ...               ...
28377      0        2019-10-22
28378      0        2019-12-17
28379      1        2019-12-31
28380      0               NaT
28381      1        2019-11-02

[28382 rows x 21 columns]>

In [8]:
data.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,...,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn,last_transaction
0,1,2101,66,Male,0.0,self_employed,187.0,2,755,1458.71,...,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0,2019-05-21
1,2,2348,35,Male,0.0,self_employed,NaN,2,3214,5390.37,...,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0,2019-11-01
2,4,2194,31,Male,0.0,salaried,146.0,2,41,3913.16,...,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0,NaT
3,5,2329,90,NaN,NaN,self_employed,1020.0,2,582,2291.91,...,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1,2019-08-06
4,6,1579,42,Male,2.0,self_employed,1494.0,3,388,927.72,...,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1,2019-11-03

In [9]:
data.isna().sum()

customer_id                          0
vintage                              0
age                                  0
gender                             525
dependents                        2463
occupation                          80
city                               803
customer_nw_category                 0
branch_code                          0
current_balance                      0
previous_month_end_balance           0
average_monthly_balance_prevQ        0
average_monthly_balance_prevQ2       0
current_month_credit                 0
previous_month_credit                0
current_month_debit                  0
previous_month_debit                 0
current_month_balance                0
previous_month_balance               0
churn                                0
last_transaction                     0
dtype: int64

In [10]:
data.shape

(28382, 21)

In [11]:
data.columns

Index(['customer_id', 'vintage', 'age', 'gender', 'dependents', 'occupation',
       'city', 'customer_nw_category', 'branch_code', 'current_balance',
       'previous_month_end_balance', 'average_monthly_balance_prevQ',
       'average_monthly_balance_prevQ2', 'current_month_credit',
       'previous_month_credit', 'current_month_debit', 'previous_month_debit',
       'current_month_balance', 'previous_month_balance', 'churn',
       'last_transaction'],
      dtype='object')

In [14]:
data.dtypes

customer_id                         int64
vintage                             int64
age                                 int64
gender                             object
dependents                        float64
occupation                         object
city                              float64
customer_nw_category                int64
branch_code                         int64
current_balance                   float64
previous_month_end_balance        float64
average_monthly_balance_prevQ     float64
average_monthly_balance_prevQ2    float64
current_month_credit              float64
previous_month_credit             float64
current_month_debit               float64
previous_month_debit              float64
current_month_balance             float64
previous_month_balance            float64
churn                               int64
last_transaction                   object
dtype: object

In [23]:
a=100
b=90
a=a^b
print(a)
b=a^b
print(b)
a=a^b
print(a)

62
100
90

In [27]:
data['dependents']=data['dependents'].fillna(0).astype('int64')
data['city']=data['city'].astype('category')
data[['city','dependents']].dtypes

city          category
dependents       int64
dtype: object

In [28]:
data=pd.DatetimeIndex(data['last_transaction'])